html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  scrollbar-width: 8px;
}

body {
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transform: rotate(90deg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6b9b9;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

* {
  scroll-behavior: smooth;
}

