header {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 50px 140px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  max-width: 400px;
  width: 100%;
  padding: 20px 0;

  font-size: 14px;
  font-weight: 600;
}

header nav a {
  color: #868a9a;
  transition: ease 0.4s;
}

header nav a:hover {
  color: #000000;
}

header nav button {
  color: #32a8f3;
  border-radius: 20px;
  background-color: rgba(50, 168, 243, 0.1);
  padding: 6px 26px;
  transition: ease 0.4s;
}

header nav button:hover {
  color: #000000;
}

@media (max-width: 900px) {
  header {
    padding: 50px;
  }
}
