.hero {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 0 50px 100px;
  padding: 0 0 0 140px;
  border-radius: 20px;
  background: linear-gradient(135deg, #2ea5f2 0%, #6ed2ff 100%);
  height: 500px;
}

/* Info Block */
.hero .hero-info-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  row-gap: 30px;
  color: #ffffff;
}

.hero-info-block h1 {
  font-weight: 800;
  color: #fff;
  font-size: 52px;
  line-height: 65px;
}

.hero-info-block p {
  font-size: 24px;
  line-height: 42px;
}

/* Buttons */
.hero-info-block .hero-buttons-contanier {
  display: flex;
  column-gap: 20px;
  max-width: 600px;
  width: 100%;
  margin-top: 30px;
}

.hero-buttons-contanier .app-store-button {
  background: #000000 url("https://tappsk.com/img/app-store.svg") center no-repeat;
  border-radius: 5px;
  width: 170px;
  height: 58px;
}

.hero-buttons-contanier .watch-action-button {
  display: inline-block;
  max-width: 200px;
  width: 100%;

  background-color: transparent;
  padding: 10px 24px;
  border: 2px solid white;
  border-radius: 6px;

  transition: ease 0.4s;
}

.watch-action-button span {
  position: relative;
  padding-left: 24px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.watch-action-button span::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("https://tappsk.com/img/play.svg") no-repeat;
}

.hero-buttons-contanier .watch-action-button:hover {
  background-color: #6ac3ff;
}

/* Images Block */
.hero .hero-pictures-block {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  max-width: 800px;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.hero-pictures-block img {
  position: absolute;
}

.hero-pictures-block .mockup-phone {
  left: 170px;
  top: 40px;
  width: 330px;
  height: 656px;

  background: center 18px / contain url("https://tappsk.com/img/screen-1.png") no-repeat;
}

@media (max-width: 1060px) {
  .hero {
    padding: 40px;
  }

  .hero .hero-pictures-block {
    display: none;
  }
}

@media (max-width: 570px) {
  .hero {
    margin: 0 20px 100px;
  }

  .hero .hero-info-block {
    row-gap: 10px;
  }

  .hero-info-block h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .hero-info-block p {
    font-size: 14px;
    line-height: 22px;
  }

  .hero-info-block .hero-buttons-contanier {
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .hero-buttons-contanier .app-store-button {
    max-width: 200px;
    width: 100%;
  }
}
