/*hero*/

.hero-contanier {
  margin-left: 50px;
  margin-right: 50px;
}

.hero {
  width: 100wh;
  border-radius: 20px;
  background: linear-gradient(135deg, #2ea5f2 0%, #6ed2ff 100%);
  padding-bottom: 5%;
}

.hero-info-contanier {
  margin-left: 15%;
  margin-right: 15%;
}

.info-block-hero {
  padding-top: 6%;
  color: #fff;
}

.h1-content {
  width: 35%;
  font-weight: 800;
  color: #fff;
  font-size: 52px;
  line-height: 65px;
}

.p-content {
  width: 51%;
  font-size: 24px;
  line-height: 42px;
  margin-top: 25px;
  padding-right: 15%;
}

.hero-buttons-contanier {
  margin-top: 30px;
  display: flex;
  width: 40%;
}

.app-store-button {
  border-radius: 5px;
  width: 170px;
}

.watch-hero {
  cursor: pointer;
  margin-left: 3%;
}

.hero-items-contanier {
  display: flex;
}

.hero-text {
  margin-left: 14px;
}

.hero-play {
  margin-top: 6px;
}

.watch-hero-button {
  display: flex;
  font-size: 17px;
  display: inline-block;
  color: white;
  font-weight: 600;
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 6px;
}

.watch-hero-button:hover {
  background-color: #6ac3ff;
  transition: ease 0.4s;
}

/*hero*/
