.hero {
  display: flex;
  height: 100%;
  margin: auto 50px;
  border-radius: 20px;
  background: linear-gradient(135deg, #2ea5f2 0%, #6ed2ff 100%);
  max-height: 500px;
}

.info-block-hero {
  padding: 6% 0 5% 15%;
  color: #fff;
}

.info-block-hero h1 {
  font-weight: 800;
  color: #fff;
  font-size: 52px;
  line-height: 65px;
}

.info-block-hero p {
  font-size: 24px;
  line-height: 42px;
  margin-top: 25px;
  padding-right: 15%;
}

.hero-buttons-contanier {
  max-width: 600px;
  width: 100%;
  margin-top: 30px;
  display: flex;
}

.app-store-image {
  border-radius: 5px;
  width: 170px;
}

.watch-hero-button {
  display: flex;
  font-size: 17px;
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 6px;
}

.watch-hero-button:hover {
  background-color: #6ac3ff;
  transition: ease 0.4s;
}
